### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IMPORTANTE: Nunca ignorar o JAR do wrapper.
!/.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
# Logs de execução
*.log
# Arquivos temporários de live reload
.mtj.tmp/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Sistema Operacional ###
.DS_Store
Thumbs.db
*~
